@charset "UTF-8";
body {
  font-family: "noor";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-style: normal;
  font-weight: 400;
}

body.single-page {
  padding-top: 110px;
}

@media only screen and (max-width: 991px) {
  body.single-page {
    padding-top: 55px;
  }
}

.overflow {
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

img {
  image-rendering: -webkit-optimize-contrast !important;
}

.ul-es {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ancor {
  text-decoration: none;
}

.ancor:hover {
  text-decoration: none;
}

/*style scroll bar*/
/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #21227e;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a748b4;
}

/*preloader*/
.preloader {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

.progress {
  position: fixed;
  z-index: 99999;
  top: 0;
  width: 100%;
  height: 5px;
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#f9f9f9));
  background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
  background-repeat: repeat-x;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  overflow: hidden;
}

.progress-bar {
  -webkit-animation: progress 6s ease infinite;
          animation: progress 6s ease infinite;
  padding: 1px;
  color: white;
  background-image: linear-gradient(135deg, #a748b4, #21227e);
  /* border-radius: 4px 4px 4px 4px; */
}

html[dir="ltr"] .progress-bar {
  background-image: linear-gradient(135deg, #21227e, #a748b4);
}

@-webkit-keyframes progress {
  from {
    width: 0;
    color: rgba(255, 255, 255, 0);
  }
  to {
    width: 100%;
    color: white;
  }
}

@keyframes progress {
  from {
    width: 0;
    color: rgba(255, 255, 255, 0);
  }
  to {
    width: 100%;
    color: white;
  }
}

/*preloader*/
@media only screen and (max-width: 767px) {
  .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media only screen and (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1170px;
  }
}

/*hamburger menu*/
.hamburger-lines {
  height: 14px;
  width: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hamburger-lines .line {
  display: block;
  height: 2px;
  width: 100%;
  background: #21227e;
}

.home-header .hamburger-lines .line {
  background: #fff;
}

.home-header .open-bars .hamburger-lines .line {
  background: #21227e;
}

.home-header .fixed-nav .hamburger-lines .line {
  background: #21227e;
}

.hamburger-lines .line1 {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.hamburger-lines .line2 {
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.hamburger-lines .line3 {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.open-bars .hamburger-lines .line1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.open-bars .hamburger-lines .line2 {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.open-bars .hamburger-lines .line3 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/*                                 arrow-top                           */
.arrow-top {
  position: fixed;
  bottom: 20px;
  inset-inline-start: 20px;
  display: none;
  z-index: 10;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  background-color: #fff;
  font-size: 20px;
  border: none;
  outline: none !important;
  color: #21227e;
  text-decoration: none !important;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.arrow-top:hover, .arrow-top:focus {
  background-color: #21227e;
  color: #fff;
}

@media only screen and (max-width: 767px) {
  .arrow-top {
    bottom: 15px;
    inset-inline-start: 15px;
  }
}

/*top header*/
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  background-color: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.top-header a {
  text-decoration: none;
}

.show-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.show-icons .menu-bars {
  display: none;
  background: transparent;
  outline: none !important;
}

.nav-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nav-header .big-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
}

.nav-header li a {
  color: #21227e;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.home-header .nav-header li a {
  color: #fff;
}

.home-header .fixed-nav .nav-header li a {
  color: #21227e;
}

.home-header .fixed-nav .nav-header li a:hover {
  color: #a748b4;
}

.home-header .fixed-nav .nav-header li a.active {
  color: #a748b4;
}

.nav-header li a:hover {
  color: #a748b4;
}

.nav-header li a.active {
  color: #a748b4;
}

.nav-header li {
  margin: 0 13px;
}

.fixed-nav {
  background-color: #fff;
  margin-top: -100px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.fixed-nav .nav-header {
  padding: 10px 0;
}

.fixed-header {
  position: fixed;
}

.fixed-header .fixed-nav {
  margin: 0;
}

.img-logo img {
  max-width: 139px;
  max-height: 43px;
  width: 139px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.fixed-nav .img-logo img {
  max-width: 100px;
  width: 100px;
}

.nav-header figure {
  margin: 0;
}

.nav-head {
  width: 100%;
  display: none;
}

.login-ancor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-margin-end: 25px;
          margin-inline-end: 25px;
}

.fixed-nav .login-ancor {
  color: #21227e;
}

.single-page .login-ancor {
  color: #21227e;
}

.login-ancor i {
  font-size: 22px;
  -webkit-margin-end: 5px;
          margin-inline-end: 5px;
}

.login-ancor:hover {
  color: #a748b4;
  text-decoration: none;
}

.contact-link {
  width: 136px;
  height: 50px;
  border-radius: 25px;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background-image: -webkit-gradient(linear, left top, right top, from(#a946b3), color-stop(#676ff1), color-stop(#676ff1), to(#a946b3));
  background-image: linear-gradient(to right, #a946b3, #676ff1, #676ff1, #a946b3);
  background-size: 300% 100%;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.contact-link:hover {
  text-decoration: none;
  color: #fff;
  background-position: 100% 0;
}

.hide-bg {
  display: none;
}

@media only screen and (max-width: 991px) {
  .hide-bg {
    display: block;
  }
  .nav-header li i {
    font-size: 22px;
    -webkit-margin-end: 5px;
            margin-inline-end: 5px;
  }
  .hide-sm {
    display: none;
  }
  .img-logo img {
    max-width: 100px;
  }
  .nav-header {
    padding: 10px 0;
  }
  .login-ancor {
    font-size: 18px;
    color: #21227e;
  }
  .contact-link {
    width: 110px;
    height: 35px;
    font-size: 14px;
    margin: 0;
  }
  .show-icons .menu-bars {
    position: relative;
    z-index: 300;
    width: 18px;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-margin-start: 15px;
            margin-inline-start: 15px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .nav-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 15px 0 0;
  }
  .navgition {
    display: block;
    position: fixed;
    padding: 30px 20px;
    padding-top: 0;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    -webkit-clip-path: circle(10.9% at 16% 16%);
            clip-path: circle(10.9% at 16% 16%);
    background-color: rgba(255, 255, 255, 0.99);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    z-index: 200;
    overflow-y: auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  html[dir="ltr"] .navgition {
    -webkit-clip-path: circle(11.2% at 86% 14%);
            clip-path: circle(11.2% at 86% 14%);
  }
  .reset-left {
    left: 0;
    top: 0;
    -webkit-clip-path: circle(139.6% at 9% 15%);
            clip-path: circle(139.6% at 9% 15%);
    visibility: visible;
    opacity: 1;
  }
  html[dir="ltr"] .reset-left {
    -webkit-clip-path: circle(121.2% at 86% 14%);
            clip-path: circle(121.2% at 86% 14%);
  }
  .nav-header .big-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20% 20px 20px;
  }
  .nav-header li {
    margin: 0;
  }
  .big-menu li {
    margin-bottom: 25px;
  }
  .nav-header li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 400;
    font-size: 18px;
    color: #21227e;
  }
  .home-header .nav-header li a {
    color: #21227e;
  }
}

.logo-cont {
  position: relative;
}

.second-logo {
  display: none;
}

.home-header .second-logo {
  display: block;
  visibility: visible;
  opacity: 1;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.home-header .img-logo {
  opacity: 0;
}

.home-header .fixed-nav .img-logo {
  opacity: 1;
}

.home-header .fixed-nav .second-logo {
  visibility: hidden;
  opacity: 0;
}

.header-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 767px) {
  .contact-link {
    width: 100px;
    font-size: 13px;
  }
  .first-btn,
  .second-btn {
    font-size: 14px;
  }
}

/*                              courses-section                    */
.courses-section {
  position: relative;
  margin-top: 160px;
  overflow: hidden;
}

.section-head {
  text-align: start;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 30px;
  color: #21227e;
  margin-bottom: 25px;
}

.mix-btn-cont {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 25px;
}

.mix-btn {
  font-weight: 400;
  font-size: 14px;
  line-height: unset !important;
  outline: none !important;
  background-color: #e8e8f2;
  height: 40px;
  border-radius: 20px;
  margin: 0;
  padding: 0 15px;
  margin: 0;
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
  color: #21227e;
  outline-offset: 0;
  border: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: capitalize;
}

.mix-btn:hover,
.mixitup-control-active,
.mix-btn:focus {
  border: none;
  color: #fff;
  background-color: #21227e;
}

.product-slider {
  position: relative;
  width: 100%;
}

.product-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  position: relative;
  background-color: #fff;
  width: 100%;
}

.product-img img {
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.product-img:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.product-content {
  padding: 20px 0;
}

.product-category {
  display: block;
  color: #a748b4;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 12px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-align: start;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.product-category:hover {
  color: #21227e;
}

.product-title {
  display: block;
  color: #21227e;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: start;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  min-height: 85px;
  -webkit-box-orient: vertical;
}

.product-link {
  width: 139px;
  height: 42px;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background-image: -webkit-gradient(linear, left top, right top, from(#a946b3), color-stop(#676ff1), color-stop(#676ff1), to(#a946b3));
  background-image: linear-gradient(to right, #a946b3, #676ff1, #676ff1, #a946b3);
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
  background-size: 300% 100%;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.product-link:hover {
  text-decoration: none;
  color: #fff;
  background-position: 100% 0;
}

.product-slider .swiper-btn {
  position: absolute;
  z-index: 1;
  top: 117px;
  display: none;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.302);
  border-radius: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.product-slider .swiper-btn:hover {
  color: #21227e;
}

@media (min-width: 1320px) {
  .product-slider .swiper-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.product-slider .swiper-btn i {
  z-index: 2;
}

.product-slider .swiper-btn.swiper-btn-next {
  left: -57px;
}

.product-slider .swiper-btn.swiper-btn-prev {
  right: -57px;
}

.product-slider .swiper-pagination {
  position: relative;
  width: 100%;
  bottom: auto;
  display: none;
  margin-top: 15px;
}

@media (max-width: 1320px) {
  .product-slider .swiper-pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.product-slider .swiper-pagination .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background-color: black;
  opacity: 0.3;
  margin: 0 3px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  outline: none !important;
  border-radius: 50%;
}

.product-slider .swiper-pagination .swiper-pagination-bullet:hover {
  background-color: #21227e;
}

.product-slider .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #21227e;
  opacity: 1;
}

@media only screen and (max-width: 991px) {
  .courses-section {
    margin-top: 40px;
  }
  .mix-btn-cont {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-x: scroll;
    padding-bottom: 10px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .mix-btn {
    white-space: nowrap;
    font-size: 14px;
    -webkit-margin-end: 15px;
            margin-inline-end: 15px;
  }
  .section-head {
    font-size: 24px;
  }
  .product-category {
    font-size: 12px;
  }
  .product-title {
    font-size: 14px;
    -webkit-line-clamp: 2;
    min-height: 42px;
  }
  .product-link {
    width: 120px;
    height: 35px;
    font-size: 14px;
  }
}

/*                              courses-section                    */
/*                              blog-section                    */
.blog-section {
  margin-top: 100px;
}

.blog-slider {
  position: relative;
}

.blog-section .swiper-container {
  padding: 20px 10px;
}

.blog {
  position: relative;
  margin: 10px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
  max-width: 360px;
}

.blog-head {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  color: #21227e;
  text-transform: capitalize;
  margin-bottom: 40px;
}

.blog-figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  background-color: #fff;
  width: 100%;
  margin: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.blog-img {
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.blog-figure:hover .blog-img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.blog-content {
  padding: 30px;
  text-align: start;
}

.blog-link {
  display: block;
  color: #21227e;
  text-decoration: none !important;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 8px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  text-align: start;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  min-height: 48.02px;
}

.blog-link:hover {
  color: #a748b4;
}

.blog-pargh {
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  width: 100%;
  margin: auto;
  margin-bottom: 15px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-align: start;
  min-height: 42px;
}

.blog-read {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #808080;
  text-decoration: none !important;
  font-size: 14px;
  font-weight: 400;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  text-align: start;
}

.blog-read:hover {
  color: #21227e;
}

@media (max-width: 991px) {
  .product-section {
    margin-top: 50px;
  }
}

.blog-slider .swiper-btn {
  position: absolute;
  z-index: 1;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: rgba(0, 0, 0, 0.302);
  display: none;
  font-size: 30px;
  border-radius: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.blog-slider .swiper-btn:hover {
  color: #a748b4;
}

@media (min-width: 1320px) {
  .blog-slider .swiper-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.blog-slider .swiper-btn i {
  z-index: 2;
}

.blog-slider .swiper-btn.swiper-btn-next {
  left: -57px;
}

.blog-slider .swiper-btn.swiper-btn-prev {
  right: -57px;
}

.blog-slider .swiper-pagination {
  position: relative;
  width: 100%;
  bottom: auto;
  display: none;
  margin-top: 10px;
}

@media (max-width: 1320px) {
  .blog-slider .swiper-pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.blog-slider .swiper-pagination .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background-color: black;
  opacity: 0.3;
  margin: 0 3px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  outline: none !important;
  border-radius: 50%;
}

.blog-slider .swiper-pagination .swiper-pagination-bullet:hover {
  background-color: #21227e;
}

.blog-slider .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #21227e;
  opacity: 1;
}

.blog-ancor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 118px;
  height: 40px;
  border-radius: 20px;
  background-color: #e8e8f3;
  color: #21227e;
  font-weight: 400;
  font-size: 14px;
  margin: 0 auto;
  margin-top: 25px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none !important;
}

.blog-ancor:hover {
  color: #fff;
  background-color: #a748b4;
}

@media only screen and (max-width: 991px) {
  .blog-section {
    margin-top: 50px;
  }
  .blog-head {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .blog-content {
    padding: 20px;
  }
  .blog-link,
  .blog-pargh {
    font-size: 15px;
  }
}

/*                              blog-section                    */
/*                                   footer                            */
footer {
  padding: 80px 0 60px;
  margin-top: 100px;
  background-color: #21227e;
  position: relative;
  overflow: hidden;
  text-align: start;
}

.footer-cont {
  margin-bottom: 75px;
}

.footer-head {
  font-weight: 400;
  font-size: 30px;
  color: #fff;
  text-align: center;
  margin-bottom: 50px;
}

.footer-head span {
  font-weight: 700;
}

.footer-info .social {
  display: none;
}

.nav-foot-header {
  padding: 0;
  margin: 0 0 25px;
}

.footer-list a {
  text-decoration: none;
}

.foot-header {
  text-transform: capitalize;
  white-space: nowrap;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}

.nav-foot-li {
  margin-bottom: 10px;
}

.nav-foot-link {
  color: #a9aaec;
  font-size: 15px;
  font-weight: 400;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nav-foot-li .nav-foot-link:hover {
  color: #fff;
  text-decoration: none;
}

.contact-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: start;
  color: #a9aaec;
  font-size: 15px;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.contact-box i {
  -webkit-margin-end: 8px;
          margin-inline-end: 8px;
  font-size: 24px;
  color: #fff;
}

a.contact-box:hover {
  color: #fff;
  text-decoration: none;
}

.social {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.social a {
  text-decoration: none !important;
}

a.social-link {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  background-color: #fff;
  color: #21227e;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a.social-link:hover {
  background-color: #a748b4;
  color: #fff;
}

a.social-link:last-of-type {
  margin: 0;
}

/*                             footer accordion                 */
.footer-accordion.nav-foot-header {
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-accordion {
  cursor: pointer;
  width: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-panel {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  padding: 0 15px;
  margin-bottom: 20px;
}

.news-letter .footer-panel {
  padding: 0;
}

.footer-accordion:after {
  content: "";
  font-family: "line Awesome Free";
  font-weight: 900;
  font-size: 13px;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

html[dir="rtl"] .footer-accordion:after {
  content: "";
}

.footer-accordion.active:after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

html[dir="rtl"] .footer-accordion.active:after {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

/*                             footer accordion                 */
.form-head h2 {
  text-align: start;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  margin-bottom: 25px;
}

.form-group {
  margin-bottom: 15px;
  width: 100%;
}

.form-input {
  background-color: #fff;
  border: 2px solid #fff;
  height: 50px;
  width: 100%;
  padding: 0 25px;
  border-radius: 0;
  text-align: start;
  color: #808080;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 25px;
  caret-color: #21227e;
}

.form-input::-webkit-input-placeholder {
  color: #808080;
}

.form-input:-ms-input-placeholder {
  color: #808080;
}

.form-input::-ms-input-placeholder {
  color: #808080;
}

.form-input::placeholder {
  color: #808080;
}

.form-input:focus {
  border-color: #a748b4;
  outline: 0;
}

html[dir="rtl"] [type="email"]::-webkit-input-placeholder,
html[dir="rtl"] [type="number"]::-webkit-input-placeholder,
html[dir="rtl"] [type="tel"]::-webkit-input-placeholder,
html[dir="rtl"] [type="url"]::-webkit-input-placeholder {
  text-align: end;
  direction: rtl;
}

html[dir="rtl"] [type="email"]:-ms-input-placeholder,
html[dir="rtl"] [type="number"]:-ms-input-placeholder,
html[dir="rtl"] [type="tel"]:-ms-input-placeholder,
html[dir="rtl"] [type="url"]:-ms-input-placeholder {
  text-align: end;
  direction: rtl;
}

html[dir="rtl"] [type="email"]::-ms-input-placeholder,
html[dir="rtl"] [type="number"]::-ms-input-placeholder,
html[dir="rtl"] [type="tel"]::-ms-input-placeholder,
html[dir="rtl"] [type="url"]::-ms-input-placeholder {
  text-align: end;
  direction: rtl;
}

html[dir="rtl"] [type="email"]::placeholder,
html[dir="rtl"] [type="number"]::placeholder,
html[dir="rtl"] [type="tel"]::placeholder,
html[dir="rtl"] [type="url"]::placeholder {
  text-align: end;
  direction: rtl;
}

textarea.form-input {
  height: 130px;
  resize: none;
  padding: 16px 20px;
}

.form-btn-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.form-btn {
  width: 154px;
  height: 50px;
  border-radius: 25px;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  border: none;
  outline: none;
  background-image: -webkit-gradient(linear, left top, right top, from(#a946b3), color-stop(#676ff1), color-stop(#676ff1), to(#a946b3));
  background-image: linear-gradient(to right, #a946b3, #676ff1, #676ff1, #a946b3);
  background-size: 400% 100%;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.form-btn:hover {
  text-decoration: none;
  color: #fff;
  background-position: 100% 0;
}

/*select2 style*/
/*add-new-address*/
select {
  width: 100%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.select2-container--default .select2-results__option--disabled {
  display: none;
}

.select2-container .select2-selection--single {
  background-color: #f7f7f7;
  border: 2px solid #f7f7f7;
  height: 45px;
  width: 100%;
  padding: 0 25px;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #808080;
  font-weight: 400;
  font-size: 14px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding: 0;
}

.select2-container .select2-selection--single .select2-selection__arrow {
  position: relative;
  top: auto;
  bottom: auto;
  width: auto;
  height: auto;
}

.select2-container .select2-selection--single .select2-selection__arrow::after {
  content: "";
  font-size: 14px;
  font-family: "line Awesome Free";
  font-weight: 900;
  color: #808080;
}

.select2-container .select2-selection--single .select2-selection__arrow b {
  display: none;
}

.select2-container .select2-dropdown {
  background-color: #f7f7f7;
  border: none;
  border-radius: 0;
  overflow: hidden;
  z-index: 9;
}

.select2-container .select2-search--dropdown {
  padding: 0 10px;
}

.select2-container .select2-search--dropdown .select2-search__field {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  background-color: #f7f7f7;
  border: 2px solid #a748b4;
  font-size: 14px;
  font-weight: 400;
  color: #808080;
  padding: 0 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.select2-container
.select2-search--dropdown
.select2-search__field::-webkit-input-placeholder {
  font-weight: 400;
  color: #808080;
}

.select2-container
.select2-search--dropdown
.select2-search__field:-ms-input-placeholder {
  font-weight: 400;
  color: #808080;
}

.select2-container
.select2-search--dropdown
.select2-search__field::-ms-input-placeholder {
  font-weight: 400;
  color: #808080;
}

.select2-container
.select2-search--dropdown
.select2-search__field::placeholder {
  font-weight: 400;
  color: #808080;
}

.select2-container .select2-search--dropdown .select2-search__field:focus {
  border-color: #a748b4;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.select2-container .select2-search--dropdown .select2-search__field {
  text-align: start;
}

.select2-container .select2-results > .select2-results__options {
  scrollbar-width: thin;
  scrollbar-color: #21227e;
}

.select2-container
.select2-results
> .select2-results__options::-webkit-scrollbar {
  background-color: #21227e;
  width: 7px;
  height: 0px;
}

.select2-container
.select2-results
> .select2-results__options::-webkit-scrollbar-thumb {
  background-color: #21227e;
}

.select2-container .select2-results__option {
  color: #808080;
  font-size: 14px;
  text-align: start;
  background-color: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding-left: 15px;
  padding-right: 15px;
}

.select2-container .select2-results__option:hover {
  background-color: transparent;
  color: #a748b4;
}

.select2-container
.select2-results__option.select2-results__option--highlighted.select2-results__option--selectable {
  background-color: transparent;
  color: #a748b4;
}

.select2-container.select2-container--open.select2-container--below
.select2-selection--single {
  border-bottom-color: transparent;
}

.select2-container--open .select2-selection.select2-selection--single {
  border: 2px solid #f2f2f2;
}

.select2-container.select2-container--open .select2-dropdown--below {
  border: 2px solid #f2f2f2;
  border-top: 0;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding-bottom: 10px;
}

.select2-container.select2-container--open .select2-dropdown--below {
  border-top-color: #f2f2f2;
}

.select2-container.select2-container--open
.select2-dropdown--below
.select2-search--dropdown {
  padding: 5px 10px;
}

.select2-container.select2-container--open .select2-dropdown--above {
  border-bottom-color: #e6e6e6;
}

.select2-container.select2-container--open
.select2-dropdown--above
.select2-search--dropdown {
  padding: 5px 10px;
}

.select2-container
.select2-search--dropdown
.select2-search__field:focus-visible {
  border: 2px solid #a748b4;
  outline: none;
}

/*select2 style*/
/*select2 style*/
.copy-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  margin: 0;
}

@media only screen and (max-width: 767px) {
  footer {
    padding: 70px 0 40px;
    margin-top: 50px;
  }
  footer .img-logo {
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
  }
  footer .social {
    display: none;
  }
  footer .footer-info {
    margin-bottom: 35px;
  }
  footer .footer-info .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-cont {
    margin-bottom: 40px;
  }
}

/*                                   footer                            */
.single-page header {
  background-color: #fff;
}

.breadcrumb-sec {
  position: relative;
  background-color: #21227e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 45px 0;
}

.page-head {
  font-size: 24px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 15px;
  padding: 0;
  text-transform: capitalize;
  text-align: center;
}

ol.breadcrumb {
  background-color: transparent;
  border: none;
  border-radius: 0;
  position: relative;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

ol.breadcrumb li a,
ol.breadcrumb li span,
ol.breadcrumb li {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: capitalize;
  font-size: 14px;
  color: #a9aaec;
  font-weight: 400;
  text-decoration: none !important;
}

ol.breadcrumb li a:hover,
ol.breadcrumb li span:hover,
ol.breadcrumb li:hover {
  color: #a748b4;
}

ol.breadcrumb li:not(.active):after {
  content: "/";
  padding: 0 7px;
}

.single-page .blog-section {
  margin-top: 60px;
}

.blog-cont {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.blog-cont .blog {
  margin: 0;
}

@media (max-width: 991px) {
  .breadcrumb-sec {
    background: none !important;
    padding: 40px 0;
  }
  ol.breadcrumb {
    display: none;
  }
  .breadcrumb-sec .page-head {
    color: #21227e;
  }
  .single-page .blog-section {
    margin-top: 20px;
  }
  .blog-cont {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

/*                      search-section                      */
.product-title {
  font-size: 16px;
}

.product-link {
  font-size: 14px;
}

.search-section {
  margin-top: 65px;
}

.search-form {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 45px;
}

.search-form .main-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  gap: 10px;
}

.search-form .form-group {
  margin-bottom: 0;
}

.search-form .form-btn-cont {
  width: 138px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.search-form .select2-container .select2-selection--single {
  height: 45px;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}

.search-form .form-btn {
  width: 138px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 45px;
}

.search-form .form-group {
  margin-bottom: 0;
  width: 100%;
  text-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-form .select2-container {
  max-width: 248px;
}

.search-form .main-label {
  font-weight: 700;
  font-size: 14px;
  color: #21227e;
  text-align: start;
  text-transform: capitalize;
  margin: 0;
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.main-label.required::after {
  content: "*";
  font-size: 16px;
  color: #ff0000;
}

.select2-container .select2-dropdown {
  background-color: #f2f2f2;
}

.search-form .form-input {
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  height: 45px;
  width: 100%;
  padding: 0 25px;
  border-radius: 25px;
  text-align: start;
  color: #808080;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  caret-color: #21227e;
}

.search-form .form-input::-webkit-input-placeholder {
  color: #808080;
}

.search-form .form-input:-ms-input-placeholder {
  color: #808080;
}

.search-form .form-input::-ms-input-placeholder {
  color: #808080;
}

.search-form .form-input::placeholder {
  color: #808080;
}

.search-form .form-input:focus {
  border-color: #a748b4;
  outline: 0;
}

.search-form .form-btn-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.search-form .form-btn {
  width: 136px;
  height: 45px;
  border-radius: 25px;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background-image: -webkit-gradient(linear, left top, right top, from(#a946b3), color-stop(#676ff1), color-stop(#676ff1), to(#a946b3));
  background-image: linear-gradient(to right, #a946b3, #676ff1, #676ff1, #a946b3);
  background-size: 300% 100%;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.search-form .form-btn:hover {
  text-decoration: none;
  color: #fff;
  background-position: 100% 0;
}

.form-btn i {
  font-size: 20px;
  -webkit-margin-end: 6px;
          margin-inline-end: 6px;
}

html[dir="rtl"] .form-btn i {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.product-cont {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.single-product {
  width: 100%;
  overflow: hidden;
}

.single-product .product-ancor {
  position: relative;
  width: 100%;
  display: inline-block;
  overflow: hidden;
}

.product-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  position: relative;
  background-color: #fff;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.product-ancor:hover .product-img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.product-icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
  font-size: 48px;
  color: #fff;
  background-color: rgba(33, 34, 126, 0.502);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.single-product-content {
  padding: 10px 0 20px;
  text-align: center;
}

.single-product-link {
  font-weight: 400;
  font-size: 16px;
  color: #21227e;
  text-align: center;
  margin-bottom: 8px;
  display: inline-block;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  min-height: 48px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.single-product-link:hover {
  text-decoration: none;
  color: #a748b4;
}

.single-product-price {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  color: #21227e;
  margin-bottom: 15px;
}

.single-product .product-link {
  width: 139px;
  height: 42px;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 16px;
  margin: 0 auto;
  color: #fff;
  background-image: -webkit-gradient(linear, left top, right top, from(#a946b3), color-stop(#676ff1), color-stop(#676ff1), to(#a946b3));
  background-image: linear-gradient(to right, #a946b3, #676ff1, #676ff1, #a946b3);
  background-size: 300% 100%;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.single-product .product-link:hover {
  text-decoration: none;
  color: #fff;
  background-position: 100% 0;
}

@media only screen and (max-width: 991px) {
  .search-section {
    margin-top: 40px;
  }
  .search-form .main-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  .search-form .select2-container {
    max-width: 100%;
  }
  .search-form .form-group {
    margin-bottom: 10px;
  }
  .search-form .form-group {
    display: block;
  }
  .search-form .main-label {
    margin-bottom: 10px;
    -webkit-margin-start: 15px;
            margin-inline-start: 15px;
  }
  .search-form .form-btn-cont,
  .search-form .form-btn {
    width: 100%;
  }
  .search-form .form-btn {
    margin-top: 10px;
  }
  .product-cont {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

/*                      product-section                      */
/*                      influncer-section                      */
.single-influncer {
  margin-top: 65px;
  margin-bottom: 75px;
}

.single-influncer-cont {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  gap: 30px;
}

.influncer-figure {
  width: 100%;
  overflow: hidden;
}

.single-influncer-info {
  text-align: start;
  width: 100%;
  overflow: hidden;
}

.single-influncer-head {
  font-weight: 700;
  font-size: 18px;
  color: #21227e;
  text-align: start;
  display: inline-block;
  margin-bottom: 15px;
}

.single-influncer-pargh {
  font-weight: 400;
  font-size: 15px;
  color: #21227e;
  text-align: justify;
  margin-bottom: 30px;
}

.single-influncer-info .contact-box {
  color: #21227e;
}

.single-influncer-info .contact-box i {
  color: #21227e;
}

.single-influncer-info a.social-link {
  background-color: #e8e8f2;
}

.influncer-list {
  margin-bottom: 20px;
}

.influncer-list li {
  margin-bottom: 10px;
}

.courses {
  background-color: #f6f6fa;
  padding: 70px 0;
}

.section-head {
  font-size: 24px;
  text-align: center;
  margin-bottom: 40px;
}

.courses-cont .product-title {
  font-size: 16px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  min-height: 48px;
  -webkit-box-orient: vertical;
}

.courses-cont {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.product-section {
  padding-top: 80px;
}

@media only screen and (max-width: 991px) {
  .single-influncer {
    margin-top: 40px;
  }
  .single-influncer-cont {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 30px;
  }
  .influncer-figure {
    text-align: center;
  }
  .courses-cont {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

/*                      influncer-section                      */
html {
  scroll-behavior: smooth;
}

.custom-pagention {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}

.custom-pagention a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #4d4d4d;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 4px;
  line-height: 34px;
  background-color: #f3f3f9;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.custom-pagention a:hover {
  text-decoration: none;
  color: #fff;
  background-color: #a748b4;
}

.custom-pagention a i {
  font-size: 16px;
}

html[dir="ltr"] .custom-pagention a i {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}
/*# sourceMappingURL=main.css.map */