// // Abstracts
@import "sass/abstracts/variables";
@import "sass/abstracts/mixins";

// // Base
@import "sass/base/base";

// //Components

// //Layout
@import "sass/components/header";
@import "sass/components/courses";
@import "sass/components/blog";
@import "sass/components/footer";
@import "sass/components/blog-page";
@import "sass/components/product";
@import "sass/components/single-influncer";
@import "sass/components/checkout";

html {
  scroll-behavior: smooth;
}

.custom-pagention {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.custom-pagention a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #4d4d4d;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 4px;
  line-height: 34px;
  background-color: #f3f3f9;
  transition: all 0.3s ease-in-out;
}
.custom-pagention a:hover {
  text-decoration: none;
  color: #fff;
  background-color: #a748b4;
}
.custom-pagention a i {
  font-size: 16px;
}
html[dir="ltr"] .custom-pagention a i {
  transform: scaleX(-1);
}