/*                                   footer                            */
// footer {
//   padding: 80px 0 60px;
//   margin-top: 100px;
//   background-color: $main-color;
//   position: relative;
//   overflow: hidden;
//   text-align: start;
// }
// .footer-cont {
//   margin-bottom: 75px;
// }
// .footer-head {
//   font-weight: 400;
//   font-size: 30px;
//   color: $white-color;
//   text-align: center;
//   margin-bottom: 50px;
//   span {
//     font-weight: 700;
//   }
// }
// .footer-info {
//   .social {
//     display: none;
//   }
// }
// .nav-foot-header {
//   padding: 0;
//   margin: 0 0 25px;
// }
// .footer-list a {
//   text-decoration: none;
// }
// .foot-header {
//   text-transform: capitalize;
//   white-space: nowrap;
//   font-weight: 700;
//   font-size: 16px;
//   color: $white-color;
// }
// .nav-foot-li {
//   margin-bottom: 10px;
// }
// .nav-foot-link {
//   color: #a9aaec;
//   font-size: 15px;
//   font-weight: 400;
//   display: inline-flex;
//   transition: all 0.3s ease-in-out;
// }
// .nav-foot-li .nav-foot-link:hover {
//   color: $white-color;
//   text-decoration: none;
// }
.contact-box {
  display: flex;
  align-items: center;
  text-align: start;
  color: #a9aaec;
  font-size: 15px;
  font-weight: 400;
  @include tr;
}
.contact-box i {
  margin-inline-end: 8px;
  font-size: 24px;
  color: $white-color;
}
a.contact-box:hover {
  color: $white-color;
  text-decoration: none;
}
.social {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.social a {
  text-decoration: none !important;
}
a.social-link {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  margin-inline-end: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  background-color: $white-color;
  color: $main-color;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: $hover-color;
    color: $white-color;
  }
  &:last-of-type {
    margin: 0;
  }
}

/*                             footer accordion                 */
// .footer-accordion.nav-foot-header {
//   margin-bottom: 0;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
// }

// .footer-accordion {
//   cursor: pointer;
//   width: 100%;
//   transition: 0.4s;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
// }
// .footer-panel {
//   max-height: 0;
//   overflow: hidden;
//   transition: all 0.5s ease-out;
//   padding: 0 15px;
//   margin-bottom: 20px;
// }
// .news-letter .footer-panel {
//   padding: 0;
// }
// .footer-accordion:after {
//   content: "";
//   font-family: "line Awesome Free";
//   font-weight: 900;
//   font-size: 13px;
//   transition: all 0.5s ease-out;
// }
// html[dir="rtl"] .footer-accordion:after {
//   content: "";
// }
// .footer-accordion.active:after {
//   transform: rotate(90deg);
// }
// html[dir="rtl"] .footer-accordion.active:after {
//   transform: rotate(-90deg);
// }
/*                             footer accordion                 */
.form-head h2 {
  text-align: start;
  font-weight: 400;
  font-size: 20px;
  color: $white-color;
  margin-bottom: 25px;
}
.form-group {
  margin-bottom: 15px;
  width: 100%;
}
.form-input {
  background-color: $white-color;
  border: 2px solid $white-color;
  height: 50px;
  width: 100%;
  padding: 0 25px;
  border-radius: 0;
  text-align: start;
  color: #808080;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
  @include tr;
  border-radius: 25px;
  caret-color: $main-color;
  &::placeholder {
    color: #808080;
  }
  &:focus {
    border-color: $hover-color;
    outline: 0;
  }
}
html[dir="rtl"] {
  [type="email"],
  [type="number"],
  [type="tel"],
  [type="url"] {
    &::placeholder {
      text-align: start;
      direction: rtl;
    }
  }
}
textarea.form-input {
  height: 130px;
  resize: none;
  padding: 16px 20px;
}
.form-btn-cont {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
.form-btn {
  width: 154px;
  height: 50px;
  border-radius: 25px;
  text-transform: capitalize;
  @include flexx;
  font-weight: 700;
  font-size: 16px;
  color: $white-color;
  border: none;
  outline: none;
  background-image: linear-gradient(
    to right,
    #a946b3,
    #676ff1,
    #676ff1,
    #a946b3
  );
  background-size: 400% 100%;
  transition: all 0.4s ease-in-out;
  &:hover {
    text-decoration: none;
    color: $white-color;
    background-position: 100% 0;
  }
}
input:focus {
  outline: none;
}
/*select2 style*/
/*add-new-address*/

select {
  width: 100%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.select2-container--default .select2-results__option--disabled {
  display: none;
}
.select2-container .select2-selection--single {
  background-color: #f7f7f7;
  border: 2px solid #f7f7f7;
  height: 45px;
  width: 100%;
  padding: 0 25px;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #808080;
  font-weight: 400;
  font-size: 14px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding: 0;
}

.select2-container .select2-selection--single .select2-selection__arrow {
  position: relative;
  top: auto;
  bottom: auto;
  width: auto;
  height: auto;
}

.select2-container .select2-selection--single .select2-selection__arrow::after {
  content: "";
  font-size: 14px;
  font-family: "line Awesome Free";
  font-weight: 900;
  color: #808080;
}

.select2-container .select2-selection--single .select2-selection__arrow b {
  display: none;
}

.select2-container .select2-dropdown {
  background-color: #f7f7f7;
  border: none;
  border-radius: 0;
  overflow: hidden;
  z-index: 9;
}

.select2-container .select2-search--dropdown {
  padding: 0 10px;
}

.select2-container .select2-search--dropdown .select2-search__field {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  background-color: #f7f7f7;
  border: 2px solid $hover-color;
  font-size: 14px;
  font-weight: 400;
  color: #808080;
  padding: 0 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.select2-container
  .select2-search--dropdown
  .select2-search__field::-webkit-input-placeholder {
  font-weight: 400;
  color: #808080;
}

.select2-container
  .select2-search--dropdown
  .select2-search__field:-ms-input-placeholder {
  font-weight: 400;
  color: #808080;
}

.select2-container
  .select2-search--dropdown
  .select2-search__field::-ms-input-placeholder {
  font-weight: 400;
  color: #808080;
}

.select2-container
  .select2-search--dropdown
  .select2-search__field::placeholder {
  font-weight: 400;
  color: #808080;
}

.select2-container .select2-search--dropdown .select2-search__field:focus {
  border-color: $hover-color;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.select2-container .select2-search--dropdown .select2-search__field {
  text-align: start;
}

.select2-container .select2-results > .select2-results__options {
  scrollbar-width: thin;
  scrollbar-color: $main-color;
}

.select2-container
  .select2-results
  > .select2-results__options::-webkit-scrollbar {
  background-color: $main-color;
  width: 7px;
  height: 0px;
}

.select2-container
  .select2-results
  > .select2-results__options::-webkit-scrollbar-thumb {
  background-color: $main-color;
}

.select2-container .select2-results__option {
  color: #808080;
  font-size: 14px;
  text-align: start;
  background-color: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding-left: 15px;
  padding-right: 15px;
}

.select2-container .select2-results__option:hover {
  background-color: transparent;
  color: $hover-color;
}

.select2-container
  .select2-results__option.select2-results__option--highlighted.select2-results__option--selectable {
  background-color: transparent;
  color: $hover-color;
}

.select2-container.select2-container--open.select2-container--below
  .select2-selection--single {
  border-bottom-color: transparent;
}

.select2-container--open .select2-selection.select2-selection--single {
  border: 2px solid #f2f2f2;
}

.select2-container.select2-container--open .select2-dropdown--below {
  border: 2px solid #f2f2f2;
  border-top: 0;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding-bottom: 10px;
}

.select2-container.select2-container--open .select2-dropdown--below {
  border-top-color: #f2f2f2;
}

.select2-container.select2-container--open
  .select2-dropdown--below
  .select2-search--dropdown {
  padding: 5px 10px;
}

.select2-container.select2-container--open .select2-dropdown--above {
  border-bottom-color: #e6e6e6;
}

.select2-container.select2-container--open
  .select2-dropdown--above
  .select2-search--dropdown {
  padding: 5px 10px;
}

.select2-container
  .select2-search--dropdown
  .select2-search__field:focus-visible {
  border: 2px solid $hover-color;
  outline: none;
}

/*select2 style*/
/*select2 style*/
.copy-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  color: $white-color;
  text-align: center;
  margin: 0;
}
html[dir="rtl"] .checkout-input {
  direction: rtl;
}
// @include max-767 {
//   footer {
//     padding: 70px 0 40px;
//     margin-top: 50px;
//     .img-logo {
//       margin: 0 auto;
//       margin-bottom: 30px;
//       text-align: center;
//     }
//   }
//   footer .social {
//     display: none;
//   }
//   footer .footer-info {
//     margin-bottom: 35px;
//     .social {
//       display: flex;
//       justify-content: center;
//     }
//   }
//   .footer-cont {
//     margin-bottom: 40px;
//   }
// }

/*                                   footer                            */
